<!DOCTYPE html>
<html>

<head>

<title>Smart Health</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background"></div>

<div class="card">

<h1>🩺 Smart Health</h1>

<p class="subtitle">
AI Powered Disease Prediction
</p>

<form action="/predict">

<input type="text" name="name" placeholder="Full Name" required>

<input type="number" name="age" placeholder="Age" required>

<select name="sex" required class="gender">

<option value="">Select Gender</option>

<option>Male</option>

<option>Female</option>

</select>

<button type="submit">Continue</button>

</form>

</div>

</body>
</html>