<!DOCTYPE html>
<html>

<head>

<title>Symptoms</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="background"></div>

<div class="card">

<h1>🧬 Symptoms Analysis</h1>

<div class="info">

<b>Name:</b> {{name}} <br>
<b>Age:</b> {{age}} <br>
<b>Gender:</b> {{sex}}

</div>

<form action="/result" method="POST">

<input type="hidden" name="name" value="{{name}}">

<label>Fever</label>
<select name="fever" required class="gender">
    <option value="">Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

<label>Cough</label>
<select name="cough" required class="gender">
    <option value="">Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

<label>Headache</label>
<select name="headache" required class="gender">
    <option value="">Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

<label>Vomiting</label>
<select name="vomiting" required class="gender">
    <option value="">Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

<label>Fatigue</label>
<select name="fatigue" required class="gender">
    <option value="">Select</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>

<button type="submit">
Analyze Symptoms
</button>

</form>

</div>

</body>
</html>